input.reservation-hour {
  width: 43px;
}

.reservation-project{
  width: 280px;
}

.reservation-row{
  height: 38px;;
}

.reservation-project-column {
  width: 70%;
  float: left;
}

.reservation-column {
  width: 10%;
  float: left;
}

