.timesheet-table-header {
    font-weight: bold;
    padding-bottom: 10px;
}

.timesheet-column {
    width: 10%;
    float: left;
}

.timesheet-project-column {
    width: 70%;
    float: left;
}

input.timesheet-hour {
    width: 40px;
}

.text-center {
    text-align: center;
}

.width-100 {
    width: 100px;
}